@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-family-primary: "Bai Jamjuree";

  /* Preset Mixins/Bundles (Using rem for size and unitless for line-height) */
  --text-preset-1: 600 2.875rem/1.25 var(--font-family-primary); /* 46px */
  --text-preset-1-ls: -0.046875rem;

  --text-preset-2: 600 2.5rem/1.25 var(--font-family-primary); /* 40px */
  --text-preset-2-ls: -0.046875rem;

  --text-preset-3: 600 2.25rem/1.25 var(--font-family-primary); /* 36px */
  --text-preset-3-ls: -0.0375rem;

  --text-preset-4: 600 2rem/1.25 var(--font-family-primary); /* 32px */
  --text-preset-4-ls: -0.03125rem;

  --text-preset-5: 600 1.75rem/1.25 var(--font-family-primary); /* 28px */
  --text-preset-5-ls: -0.03125rem;

  --text-preset-6: 600 1.5rem/1.25 var(--font-family-primary); /* 24px */
  --text-preset-6-ls: -0.025rem;

  --text-preset-7-sb: 600 1.25rem/1.5 var(--font-family-primary); /* 20px */
  --text-preset-7-sb-ls: 0.03125rem;

  --text-preset-7-reg: 400 1.25rem/1.5 var(--font-family-primary); /* 20px */
  --text-preset-7-reg-ls: 0.009375rem;

  --text-preset-8: 400 1rem/1.5 var(--font-family-primary); /* 16px */
  --text-preset-8-ls: 0.009375rem;

  /* White & Black */
  --clr-white: #ffffff;
  --clr-black: #000000;

  /* Gray Scale */
  --clr-gray-950: #2a2a2a;
  --clr-gray-700: #4c545c;
  --clr-gray-500: #9eabb2;
  --clr-gray-50: #f5f7f7;

  /* Green Scale */
  --clr-green-500: #26bba4;
  --clr-green-300: #5dccbb;

  /* Blue Scale */
  --clr-blue-500: #6174ff;
  --clr-blue-400: #8897ff;

  /* Gradients */
  /* Gradient 1: #4F4F4F to #000000 */
  --gradient-1: linear-gradient(180deg, #4f4f4f 0%, #000000 100%);

  /* Gradient 2: #6D6D6D to #000000 (Based on the visual trend in screenshot) */
  --gradient-2: linear-gradient(180deg, #6d6d6d 0%, #000000 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  min-height: auto;
  background-image:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("./img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: column;
  gap: 1rem;
}
header img {
  width: 125px;
  height: auto;
  margin: 4.5rem 0 3.5rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 2rem 9rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font: var(--text-preset-7-sb);
  letter-spacing: var(--text-preset-7-sb-ls);
  cursor: pointer;
}
.btn:focus {
  outline: 2px solid var(--clr-blue-500);
  outline-offset: 2px;
}
a:focus {
  outline: 2px solid var(--clr-blue-500);
  outline-offset: 2px;
}
.btn.ios {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
  border: 1px solid var(--clr-green-500);
}
.btn.ios:hover {
  background-color: var(--clr-green-300);
}
.btn.mac {
  background-color: var(--clr-blue-500);
  color: var(--clr-white);
  border: 1px solid var(--clr-blue-500);
}
.btn.mac:hover {
  background-color: var(--clr-blue-400);
}
.p-7,
.p-8 {
  font: var(--text-preset-8);
  letter-spacing: var(--text-preset-8-ls);
}
h1 {
  font: var(--text-preset-4);
  letter-spacing: var(--text-preset-4-ls);
  text-align: center;
}

header p {
  text-align: center;
}
h3 {
  font: var(--text-preset-5);
  letter-spacing: var(--text-preset-5-ls);
  text-align: center;
}
h4 {
  font: var(--text-preset-6);
  letter-spacing: var(--text-preset-6-ls);
  text-align: center;
}
h1,
h3,
h4 {
  color: var(--clr-gray-950);
}

p {
  text-align: center;
  color: var(--clr-gray-500);
}
img {
  width: 100%;
  height: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
}
.logo-container img {
  width: 8.5rem;
  height: auto;
}
.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.section1 img {
  width: 100%;
  height: auto;
}
.icons-con1 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.icons-con1 img {
  width: auto;
  height: auto;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 22rem;
}
.item img {
  margin-bottom: 1.5rem;
}
.computer-con {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.r-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 22rem;
}
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.section5 p {
  margin-bottom: 2rem;
}
footer {
  position: relative;
  padding: 2rem 0 4rem;
  background-color: var(--clr-gray-50);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}

footer img {
  width: 5rem;
  height: auto;
}
footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.links p {
  color: var(--clr-gray-950);
}
.links p:hover {
  color: var(--clr-green-500);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socials img {
  width: 1.6rem;
  height: auto;
}

.socials img:hover {
  filter: invert(61%) sepia(54%) saturate(464%) hue-rotate(123deg)
    brightness(91%) contrast(87%);
}
.section2 {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 p {
  margin-bottom: 5rem;
}
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.attribution {
  font: var(--text-preset-7-reg);
  letter-spacing: var(--text-preset-7-reg-ls);
  position: absolute;
  bottom: 1px;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;

  color: rgb(209, 154, 82);
}

/* Links */
.attribution a {
  margin: 0 0.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(210, 93, 50);
  transition:
    color 0.2s ease,
    opacity 0.2s ease;
}

.attribution a:hover {
  opacity: 0.5;
}

/* Separator dot */
.separator {
  margin: 0 0.5rem;
  opacity: 0.6;
}
@media (min-width: 26rem) {
  .p-7 {
    font: var(--text-preset-7-reg);
    letter-spacing: var(--text-preset-7-reg-ls);
  }
  h1 {
    font: var(--text-preset-2);
    letter-spacing: var(--text-preset-2-ls);
  }
  h1,
  header p {
    max-width: 38rem;
  }
  h3,
  p {
    max-width: 38rem;
  }
  h3 {
    font: var(--text-preset-3);
    letter-spacing: var(--text-preset-3-ls);
  }
  .logo-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 52rem) {
  h1 {
    font: var(--text-preset-1);
    letter-spacing: var(--text-preset-1-ls);
  }
  .btn-con {
    flex-direction: row;
  }
  h1,
  header p {
    max-width: 46rem;
  }
  h3,
  p {
    max-width: 46rem;
  }
}
@media (min-width: 65rem) {
  .icons-con1 {
    flex-direction: row;
  }
  .computer-con {
    flex-direction: row;
    gap: 0rem;
  }
  .r-col {
    margin-left: -6.5rem;
    align-items: start;
  }
  .r-col h4 {
    text-align: left;
  }

  .r-col p {
    text-align: left;
  }
  .computer-con img {
    transform: translateX(-42%);
    object-fit: cover;
    width: 50%;
  }
  footer {
    flex-direction: row;
    gap: 8rem;
  }
  footer .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    gap: 1rem 3rem;
  }
  footer .socials {
    margin-left: 8rem;
  }
}
